//Colors
$primaryBlue: rgb(58, 135, 244);
$primaryWhite: rgb(225, 227, 229);
$primaryBlack: rgb(16, 29, 42);

//Fonts
$titleFont: Arial, Helvetica, sans-serif;
$bodyFont: 'Courier New', Courier, monospace;
