@import "../Variables/Variables.scss";

body{
    margin: 0;
    padding: 0;
}
.navbar {
    width: 100%;
    height: 80px;
    background-color: $primaryBlue;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.navbar a {
    color: $primaryWhite;
    font-size: 25px;
    font-family: $titleFont;
    text-decoration: none;
    margin: 10px;
}
.navbar .links {
    margin-right:50px;
}