@import '../Variables/Variables.scss';

.home{
    display: flex;
    flex-wrap: wrap;
    .recent{
        color: $active;
    }
    .details{
        font-size: $heading;
        font-family: $bodyFont;
    }
}
